@media (max-width:1440px) {
    .background {
        height: auto;
    width: 100%;
    background-image: url("../images/src/aboutImg/background.svg");
    /* background-size: 100% 80%; */
    background-repeat: no-repeat;
    overflow: visible;
    /* object-fit: contain; */
    }
    .min-head-hero {
        font-size: 40px;
        /* margin:50px 0px 50px 0px; */
    }
}
@media (max-width:1024px) {
   .navbar-ul{
    gap: 30px;
   }
}@media (max-width:991px) {
    .mb-d{
        display: block;
    }
    .mb-hide{
        display: none;
    }
    .upper .block-section{
        display: none;
    }
    .active{
        border-bottom: none !important;
    }
    .nav-link:hover a {
        border-bottom: none !important;
    }
    .background {
        background-image: url('../images/src/aboutImg/media.svg');
        /* border: 1px solid red; */
        background-repeat: repeat-x;
        background-size: 100% 100%;
        background-position:top center;
        object-fit: cover;
    }

    .mask-custom {
        backdrop-filter: blur(1px);
        background-color: transparent;
    }

    .head-hero {
        font-size: 60px;
        margin-top: 50px;
    }

    .min-head-hero {
        font-size: 40px;
        margin:50px 0px 20px 0px;
    }

    .line {
        margin: 26px 0 26px 0;
    }

    .content-about p{
        font-size: 40px;
    }.content-about span{
        font-size: 25px;
    }
    .blank_space{
        display: none;
    }
}
@media(max-width:767px){
    .background {
        background-image: url('../images/src/aboutImg/a1.svg');
        /* border: 1px solid red; */
        background-repeat: repeat-x;
        background-size: 100% 100%;
        background-position: center top;
        object-fit: cover;
    }
    .head-hero{
        font-size: 50px;
    }
    .min-head-hero{
        font-size: 30px;
        margin:30px 0px 15px 0px;
    }
    .min-head-para{
        font-size: 25px;
    }
    .line{
        margin: 0px 0px 20px 0px;
    }
    .content-about p{
        font-size: 35px;
    }.content-about span{
        font-size: 20px;
    }
    .our-mission-content b{
        font-size: 35px;

    }
    .our-mission-content span{
        font-size: 20px;
    }
}














@media (max-width:526px) {
    .logo-img {
        width: 300px !important;
    }
    
}