/* @media (max-width:1200) {
    .gloab-icon{
        object-fit: cover;
        position: relative;
        left: -10rem;
    }
    .navbar-ul{
        gap:10px;
    }
} */
@media (max-width:1400px) {
    .gloab-icon {
        object-fit: contain;

        position: relative;
        left: -5rem;
    }
}

@media (min-width:1921px) {
    .gloab-icon {
        display: none;
    }
}
@media(min-width:1920px) {
    .hero{
        height: 100vh;
        width: 100vw;
        background: url("../images/src/fullBackground.svg");
        background-size: 100% 100%;
        background-position: center;
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}
@media only screen and (max-width:1920px) {
    .hero {
        max-width: 100%;
        height: 100%;
        background-image: url('../images/src/backwave.svg');
        background-size: cover;
        background-repeat: no-repeat;
        background-color: black;
        /* background-position: center; */

        margin: 0;
        z-index: 5;
        /* overflow: hidden; */
    }
}

@media (max-width:991px) {
    .gloab-icon {
        /* object-fit: cover; */
        position: relative;
        left: -15rem;
        max-width: 34.125rem;

    }

    .active {
        border-bottom: none !important;
    }

    .nav-link:hover a {
        border-bottom: none !important;
    }

    .unleashing-the-power-container {
        font-size: 50px;
    }

    .header-text-para {
        /* max-width: 0; */
        display: flex;
    }

    .welcome-to-boolean-ai-parent {
        margin-top: 125px;
        display: flex;
        justify-content: center;
    }

    .head-all h1 {
        display: inline;
    }

    .head-content,
    .boolean-insights {
        color: #000;
        ;
    }

    .footer {
        background-size: 100% 50% !important;
        /* background-position: center; */
        /* object-fit: contain; */
    }
}

@media (max-width:767px) {
    .gloab-icon {
        height: 500px;
        width: 300px;
        position: relative;
        left: -20rem;
        /* max-width: 34.125rem; */

    }

    .about-us {
        position: relative;
        width: 100%;
        height: 493px;
        display: flex;
        flex-direction: column;
        padding: 0px 0px 37px;
        box-sizing: border-box;
        align-items: center;
        justify-content: center;
        gap: 32px;
        text-align: left;
        font-size: 21px;
        color: #fff;
        font-family: Poppins;
    }

}

@media (max-width:576px) {
    .gloab-icon {
        display: none;

    }

    .welcome-to-boolean-ai-parent {
        margin-top: 50px;
        margin-inline: 50px;
        background: url("../images/src/gloab.png");
        background-size: 70vw auto;
        background-repeat: no-repeat;
        background-position: center center;
    }

    .welcome-to-boolean {
        font-size: 14px;
    }

    .unleashing-the-power-container {
        font-size: 30px;
    }

    .header-text-para {
        width: 100%;
        font-size: 16px;
        /* max-width: 400px; */
    }

    .get-in-touch-wrapper {
        width: 120px;
        font-size: 14px;
        padding: 5px;
    }

    .header-content {
        font-size: 40px;
    }

    .para-content {
        font-size: 18px;
    }

    .leverage-the-power-container {
        font-size: 40px;
    }

    .lorem-ipsumneque-porro {
        font-size: 18px;
    }

}

@media (max-width:425px) {
    .para-testi {
        font-size: 14px;
    }
    .detail-testi{
        gap: 10apx;
    }
    .face-img {
        width: 20vw;
        height: 20vh;
    }

    .name-testi {
        font-size: 3vw;
    }

    .comma-img {
        width: 30px;
        height: 30px;
    }
}