


#center {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    backdrop-filter: blur(50px);    
    background: linear-gradient(175.64deg, rgba(17, 24, 42, 0.7), rgba(17, 24, 42, 0));
    overflow-y: hidden;
    z-index: 10000;
}
.mainLoader {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: 100%;
    /* border: 1px solid red; */
    transform: rotate3d();
    /* transform: skew(45deg); */

    /* transform: rotate(90deg); */
}




.loaderh2 {
    font-size: 3.5vw;
    color: white;
    font-weight: 700;
}

.loaderh2 span:nth-child(1) {
    animation: text 2s infinite 0.2s ease-in;
}
.loaderh2 span:nth-child(2) {
    animation: text 2s infinite 0.4s ease-in;
}
.loaderh2 span:nth-child(3) {
    animation: text 2s infinite 0.6s ease-in;
}
.loaderh2 span:nth-child(4) {
    animation: text 2s infinite 0.8s ease-in;
}
.loaderh2 span:nth-child(5) {
    animation: text 2s infinite 1s ease-in;
}
.loaderh2 span:nth-child(6) {
    animation: text 2s infinite 1.2s ease-in;
}
.loaderh2 span:nth-child(7) {
    animation: text 2s infinite 1.4s ease-in;
}
.loaderh2 span:nth-child(9) {
    animation: text 2s infinite  ease-in;
}
.loaderh2 span:nth-child(10) {
    animation: text 2s infinite  ease-in;
}


@keyframes text {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.1;
    }

    100% {
        opacity: 1;
    }
}