
.navbar-ul {
    /* border: 1px solid gold; */
    padding-left: 18px;
    gap: 40px;
    color: white !important;
}

/* .active span,
.nav-link:hover span {
    padding-bottom: 10px;
    border-bottom: 1px solid #6d95fc !important;
} */
.activeX span{
    color: #6d95fc !important;
    position: relative;
    text-decoration: none;
}
.activeX h2{
    color: white !important;
    position: relative;
    text-decoration: none;
}
.activeX h2::before {
    content: "";
    position: absolute;
    bottom: -10px;
    height: 3px;
    width: 100% !important;
    border-radius: 50px;
    transition: all 0.3s ease;
}
.activeX span::before {
    content: "";
    position: absolute;
    bottom: -10px;
    height: 3px;
    width: 100% !important;
    background: #6d95fc;
    border-radius: 50px;
    transition: all 0.3s ease;
}


.nav-link span {
    color: #FFF;
    /* font-size: 30px; */
    position: relative;
    text-decoration: none;
}

.nav-link span::before {
    content: "";
    position: absolute;
    bottom: -10px;
    height: 3px;
    width: 0;
    background: #6d95fc;
    border-radius: 50px;
    transition: all 0.3s ease;
}

.nav-link span:hover::before {
    width: 100% ;
}

.nb:hover {
    border: none !important;
}