.navbar-ul {
    /* border: 1px solid gold; */
    padding-left: 18px;
    gap: 40px;
    color: white !important;
}


.activeX span,
.nav-link:hover span {
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom: 1px solid #6d95fc !important;
    border-top: 1px solid #6d95fc !important;
    transition: all 0.5s ease-in;

}

.activeX span {
    border-inline: 3px solid #000;
    outline: 3px solid #6d95fc;
    background-color: #6d95fc;
    padding: 10px;
    font-weight: 900;
    border-radius: 10px;
    color: black;
}

.nb:hover {
    border: none !important;
}

.logo_img img {
    animation: type 5s infinite steps(30);
    white-space: nowrap;

}